body {
    font-family: Arial, sans-serif;
    background-color: #F4DFBA;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4DFBA;
    border: 2px solid #876445;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2rem;
    color: black;
}

hr {
    border: 0;
    border-top: 1px solid #dee2e6;
    margin: 1.5rem 0;
}

.section {
    margin-bottom: 2rem;
}

.section h4 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}
.section input {
    width: 60%;

}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: black;
}

input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #876445;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

input:focus {
    border-color: #876445;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

button {
    padding: 10px 15px;
    background-color: #876445;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.done-btn:hover {
    background-color: #006666;
}

.cancel-btn:hover {
    background-color: #006666;
}