<!--  -->


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #f5f5f5;
}

.search-bar input[type="text"] {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 9rem;
    height: 2rem;
    max-width: 20rem;
    border-radius: 20px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

#tutor-list {
    margin-top: 20px;
    justify-content: center; 
    margin: 20px auto;
    padding: 10px;
}

#tutor-items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.tutor-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Example basic CSS */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.star {
    font-size: 20px;
    color: #ccc;
}

.star.filled {
    color: gold;
}

.directory{
    max-width: 60%;
    margin: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

.tutor-profile {
    max-width: 60%;
    min-height: 50rem;
    margin: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

.tutor-info{
    min-height: 10rem;
    padding: 20px;
    margin: auto;
}

.tutor-listings{
    margin: auto;
    padding: 20px;
}

.horizontal-sep{
    width: 95%; 
    height: 2px; 
    background-color: #ccc; 
    margin: 20px auto; 
}

.listings-grid {
    display: grid;
    margin-top: 20px;
}

/* Individual listing items */
.listing-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: left;
    width: 60%;
    margin-bottom: 10px;
}

.listing-item a {
    color: #007BFF;
    text-decoration: none;
}

.listing-item a:hover {
    text-decoration: underline;
}